<div class="card">
  <div class="card-header">{{ naslov }}</div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">Filtriraj po:</div>
      <div class="col-md-4">
        <input type="text" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4>Filtrirano po:</h4>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table" *ngIf="events.length">
        <thead>
          <tr>
            <th>Naziv</th>
            <th>Datum</th>
            <th>Cena ulaznice</th>
            <th>Kategorija</th>
            <th>Lokacija</th>
            <th>Detalji</th>
            <th>Komentari</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let event of events">
            <td>{{ event.naziv }}</td>
            <td>{{ event.datum }}</td>
            <td>{{ event.cenaUlaznice }}</td>
            <td>{{ event.kategorija }}</td>
            <td>{{ event.lokacija }}</td>
            <td>{{ event.detalji }}</td>
            <td>{{ event.komentari }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
