<div class="card">
  <div class="card-header">{{ naslov }}</div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">Filtriraj po nazivu:</div>
      <div class="col-md-4">
        <input type="text" [(ngModel)]="listFilter" />
      </div>
    </div>
    <!-- Razmak između filtera po nazivu i filtera po datumu -->
    <div class="row">
      <div class="col-md-12">&nbsp;</div>
      <!-- Dodaje prazni prostor između redova -->
    </div>
    <div class="row">
      <div class="col-md-2">Filtriraj po datumu:</div>
      <div class="col-md-4">
        <mat-form-field appearance="fill">
          <mat-label>Odaberite datum</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            [(ngModel)]="filterDate"
            (dateChange)="filterEvents()"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table" *ngIf="events.length">
        <thead>
          <tr>
            <th>Naziv</th>
            <th>Datum</th>
            <th>Cena ulaznice</th>
            <th>Lokacija</th>
            <th>Kategorija</th>
            <th>Detalji</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let e of filteredEvents">
            <td>
              <a [routerLink]="['/events', e.id]">
                {{ e.naziv }}
              </a>
            </td>
            <td>{{ e.datum | date : "d. MMMM y." }}</td>
            <td>{{ e.cenaKarte | currency : "RSD" }}</td>
            <td>{{ e.lokacija }}</td>
            <td>{{ e.kategorija | lowercase }}</td>
            <td>{{ e.opis | firstSentence }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
